<div id="wrapper">

  <% if @match_layout.is_playing? %>

    <%= image_tag 'bg2.png', id: 'background-img' %>

    <div id="match"><%= @match_layout.match_name %></div>

    <div id="player1-name"><%= @match_layout.player1_name %></div>
    <div id="player1-score"><%= @match_layout.player1_score %></div>

    <div id="player2-name"><%= @match_layout.player2_name %></div>
    <div id="player2-score"><%= @match_layout.player2_score %></div>

  <% end %>

  <div id="logo">
    <%= image_tag 'leikir.png' %>
  </div>

</div>
