<p id="notice"><%= notice %></p>

<h1>Match Layouts</h1>

<table>
  <thead>
    <tr>
      <th>Is playing</th>
      <th>Player1 name</th>
      <th>Player2 name</th>
      <th>Match name</th>
      <th>Player1 score</th>
      <th>Player2 score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_layouts.each do |match_layout| %>
      <tr>
        <td><%= match_layout.is_playing %></td>
        <td><%= match_layout.player1_name %></td>
        <td><%= match_layout.player2_name %></td>
        <td><%= match_layout.match_name %></td>
        <td><%= match_layout.player1_score %></td>
        <td><%= match_layout.player2_score %></td>
        <td><%= link_to 'Show', match_layout %></td>
        <td><%= link_to 'Edit', edit_match_layout_path(match_layout) %></td>
        <td><%= link_to 'Destroy', match_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match Layout', new_match_layout_path %>
